[Desktop Entry]
Type=Application
Name=FNMap
Comment=Flutter Network Mapper
Exec=pkexec /home/deck/bin/fnmap-root.sh
Icon=fnmap
Terminal=false
Categories=Internet;Utility;

